ANSWER 1: The major difference between for loop and while loop is that in the case of for loop the number of iterations is known whereas in the case of the while loop number of iterations is unknown and the statement will run until the condition is proved false. For ex:

In [1]:
for i in range(0,5):
    if i<5:
        print(i)

0
1
2
3
4

In [2]:
i=0
while i<5:
    print(i)
    i+=1

0
1
2
3
4

ANSWER 2=

In [ ]:
#SUM

In [ ]:
#using for loop

In [6]:
list(range(0,10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [9]:
l=[1,2,3,4,5,6,7,8,9,10]

In [15]:
result=0
for i in l:
    result=result+i
result

55

In [16]:
#using while loop

In [17]:
n=10
starting_point=0
counter=1

while counter<=n:
    starting_point=starting_point+ counter
    counter=counter+1
starting_point

55

In [18]:
#PRODUCT

In [19]:
#using for loop

In [20]:
l

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [21]:
result=1
for i in l:
    result=i*result
result

3628800

In [22]:
n=10
starting_point=1
counter=1

while counter<=n:
    starting_point=starting_point*counter
    counter=counter+1
starting_point

3628800

ANSWER 3:

In [29]:
n=int(input("Units of electricity consumed"))
 
if n!=310:
    print("per unit charges are")
    if n<=100:
        print("4.5")
    elif n<=20:
        print("6")
    elif n<=300:
        print("10")
else:
    print("the total bill is 2250")

Units of electricity consumed 306

per unit charges are

ANSWER 4=

In [30]:
l=list(range(1,101))

In [31]:
l

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100]

In [47]:
l1=[]
for i in l:
    j=i*i*i
    l1.append(j)

In [48]:
l1

[1,
 8,
 27,
 64,
 125,
 216,
 343,
 512,
 729,
 1000,
 1331,
 1728,
 2197,
 2744,
 3375,
 4096,
 4913,
 5832,
 6859,
 8000,
 9261,
 10648,
 12167,
 13824,
 15625,
 17576,
 19683,
 21952,
 24389,
 27000,
 29791,
 32768,
 35937,
 39304,
 42875,
 46656,
 50653,
 54872,
 59319,
 64000,
 68921,
 74088,
 79507,
 85184,
 91125,
 97336,
 103823,
 110592,
 117649,
 125000,
 132651,
 140608,
 148877,
 157464,
 166375,
 175616,
 185193,
 195112,
 205379,
 216000,
 226981,
 238328,
 250047,
 262144,
 274625,
 287496,
 300763,
 314432,
 328509,
 343000,
 357911,
 373248,
 389017,
 405224,
 421875,
 438976,
 456533,
 474552,
 493039,
 512000,
 531441,
 551368,
 571787,
 592704,
 614125,
 636056,
 658503,
 681472,
 704969,
 729000,
 753571,
 778688,
 804357,
 830584,
 857375,
 884736,
 912673,
 941192,
 970299,
 1000000]

In [51]:
l2=[]
l3=[]

for i in l1:
    if i//4 or i//5:
        l2.append(i)
    else:
        l3.append(i)

In [53]:
l3

[1]

ANSWER 5=

In [54]:
string="I want to become a data scientist "

In [57]:
for i in string:
    if i=a or i=e or i=i or i=o o

NameError: name 'a' is not defined